@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Playfair Display', serif;
    background: #fff;
    font-size: 1rem;
    line-height: 1.6;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 0 0 25%;
}

article div{
    height: 400px;
}

.main-container article:nth-child(1) > .img-container{
    background: url("images/travel1.jpg") center/cover no-repeat;
}

.main-container article:nth-child(2) > .img-container{
    background: url("images/travel2.jpg") center/cover no-repeat;
}

.main-container article:nth-child(3) > .img-container{
    background: url("images/travel3.jpg") center/cover no-repeat;
}

.main-container article:nth-child(4) > .img-container{
    background: url("images/travel4.jpg") center/cover no-repeat;
}

.img-container{
    overflow: hidden;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    transition: background 0.5s ease;
    position: relative;
}

.info-container h2, .info-container p{
    padding: 1rem 0;
    opacity: 0.8;
}

.info-container button{
    border: 2px solid #e0e0e0;
    background: transparent;
    border-radius: 5px;
    padding: 0.8rem 2rem;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0.8;
}

article:nth-child(even){
    display: flex;
    flex-direction: column-reverse;
}

/***** arrow ****/

article:nth-child(odd) .info-container::before{
    content: "";
    position: absolute;
    top: -30px;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 30px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    transition: border-bottom 0.5s ease;
}

article:nth-child(even) .info-container::before{
    content: "";
    position: absolute;
    bottom: -30px;
    display: block;
    width: 0;
    height: 0;
    border-top: 30px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    transition: border-top 0.5s ease;
}

/***********************/

.info-container:hover{
    background: #7ac64d;
    color: #fff;
    opacity: 1;
}

.info-container:hover button{
    background: #fff;
    border: none;
}

article:nth-child(odd) .info-container:hover::before{
    border-bottom: 30px solid #7ac64d;
}

article:nth-child(even) .info-container:hover::before{
    border-top: 30px solid #7ac64d;
}


@media(max-width: 1170px){
    article{
        flex: 0 0 50%;
    }
}

@media(max-width: 678px){
    article{
        flex: 0 0 100%;
    }
    
    article:nth-child(even){
        display: flex;
        flex-direction: column;
    }
    
    article:nth-child(odd) .info-container::before{
        display: none;
    }

    article:nth-child(even) .info-container::before{
        display: none;
    }
}

